{% extends 'layout.html' %}

{% block content %}

      <div class="container" style="max-width: 24em">
        <img style="display: block; margin-left: auto; margin-right: auto; max-height: 22em;" src="../static/soundhub.png">
        <h1 style="text-align: center">SoundHub</h1>
        <p style="text-align: center">A place where musicians of all types can colloborate actively and quickly.</p>
        {% if (user.username.length > 0) %}
        <p style="text-align: center">Welcome to SoundHub, <strong>{{ user.username }}</strong>!</p>
        {%endif%}
        <a style="color: white; text-decoration: none" href="/register"><button type="button" class="center-block btn btn-success" style="width: 8em">Register</button></a>
        <a style="color: white; text-decoration: none" href="/login"><button type="button" class="center-block btn btn-info" style="width: 8em">Login</button></a>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}